@CHARSET "UTF-8";

$back-color: #99CCCC;
$body-width: 70%;

$box-color: #4d4d4d;
$title-color: #4a4a4a;
$menu-color: #4a4a4a;
$text-color:#f5f5f5;
$menu-backcolor: #e0e0e0;

@mixin box-center{
	margin:0 auto;
}
@mixin height($h){
	
	min-height:$h;
}
body{
	background: $back-color;
	margin:0;	
	font-size:微軟正黑體;
}
#body{
	width:$body-width;
	@include height(500px);	
	@include box-center;
	margin-top:20px;
	min-width:850px;
	margin-bottom:20px;
}
#title{
	font-size:300%;
	line-height:180%;
	position:fixed;
	left:7%;

	color:$title-color;
	text-decoration:none;
	a{
		color:$title-color;
	}
}
#menu,#main,#slider,.box{
	border-radius:5px;
	background:$box-color;
}
#menu{
	width:75%;
	min-width:650px;
	height:50px;
	
	margin-bottom:15px;
	float:left;
}
#main{
	width:75%;
	@include height(630px);
	float:left;
	margin-bottom:20px;
	
	
	min-width:650px;
}
#slider{
	width:22%;
	@include height(695px);
	float:right;
	
	
}
#index-title{
	font-size:330%;
	letter-spacing:15px;
	text-align:center;
	color:$title-color;
	margin-top:20px;
	a{
		color:$title-color;	
	}
}

.box{
	width:290px;
	height:290px;
	border-radius:5px;
	float:left;
	margin:20px;
	text-align:center;
	line-height:200px;
	font-size:350%;
	color:#e0e0e0;
	&:hover{
		background:#e0e0e0;
		color:$title-color;
	}
}
img{
	border:0px;
}
#menu{
	background:$menu-backcolor;
	color:$menu-color;
}
#menu ul{
	list-style:none;

}
#menu ul li,#menu ul li ul li{
	float:left;
	width:100px;
	height:40px;
	font-size:130%;
	text-align:center;
	
	
}
#menu ul li{
	margin-left:20px;
	a{color:$menu-color;}
	ul li{
		display:none;
		position:relative;
		left:-60px;
		background:$menu-backcolor;
		font-size:100%;
	}
}

#menu ul li:hover ul{
	padding-top:15px;
	background:$menu-backcolor;
	li{
		display:block;
	color:$menu-color;
	a{color:$menu-color;}
	}
	
}
#menu ul li:hover,#menu ul li ul li:hover{
	a{color:red;}
	color:red;
}
#main,#slider{
	a{color:$text-color;}
	color:$text-color;
}
a{
	text-decoration:none;
}
#adduser{
	width:450px;
	margin:10px auto;
	line-height:190%;
	
	form{
		margin-top:30px;
		
		#submit{
			width:120px;
			height:120px;
			margin-top:70px;
			margin-left:20px;
			font-size:180%;
			border-radius:7px;
			float:right;
			border:0px;
			&:hover{
				color:red;
			}
		}
	}
	
}
.title{
	font-size:200%;
	margin-top:20px;
	width:100%;
	text-align:center;
}

#viewuser,#viewsms{
	table{
		width:80%;
		margin:20px auto;
		
	}
	margin-top:25px;
	tr:hover{
		color:red;
	}
}
#login{
	width:450px;
	text-align:center;
	margin:60px auto;
	padding:20px;
	color:$text-color;
	line-height:80px;
	font-size:200%;
	background:$box-color;
	border-radius:5px;
	input{
		font-size:140%;
		border-radius:15px;
		border:0px;
		
		
	}
	#submit{
		width:200px;
		height:100px;
		
		&:hover{
			color:red;
		}
		margin-bottom:20px;
	}
}#edit-user,#addcontact,#group_manager,#sendsms{
	width:380px;
	margin:30px auto;
	#submit{
		width:150px;
		height:70px;
		font-size:200%;
		margin-top:10px;
		border-radius:5px;
		border:0px;
	}
}
#setting{
	width:60%;
	margin:10px auto;
	hr{
		border:1px solid #BEBEBE;
	}
}
.warning{
	color:red;
	
}
#group_view{
	width:60%;margin:0 auto;
	tr:hover{
		color:red;
	}
	
}
#group_manager{
	width:400px;
}