@CHARSET "UTF-8";
body {
  background: #99cccc;
  margin: 0; }

#body {
  width: 70%;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  min-width: 850px;
  margin-bottom: 20px; }

#title {
  font-size: 300%;
  line-height: 180%;
  position: fixed;
  left: 7%;
  color: #4a4a4a;
  text-decoration: none; }
  #title a {
    color: #4a4a4a; }

#menu, #main, #slider, .box {
  border-radius: 5px;
  background: #4d4d4d; }

#menu {
  width: 75%;
  min-width: 650px;
  height: 50px;
  margin-bottom: 15px;
  float: left; }

#main {
  width: 75%;
  min-height: 630px;
  float: left;
  margin-bottom: 20px;
  min-width: 650px; }

#slider {
  width: 22%;
  min-height: 695px;
  float: right; }

#index-title {
  font-size: 330%;
  letter-spacing: 15px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 20px; }
  #index-title a {
    color: #4a4a4a; }

.box {
  width: 290px;
  height: 290px;
  border-radius: 5px;
  float: left;
  margin: 20px;
  text-align: center;
  line-height: 200px;
  font-size: 350%;
  color: #e0e0e0; }
  .box:hover {
    background: #e0e0e0;
    color: #4a4a4a; }

img {
  border: 0px; }

#menu {
  background: #e0e0e0;
  color: #4a4a4a; }

#menu ul {
  list-style: none; }

#menu ul li, #menu ul li ul li {
  float: left;
  width: 100px;
  height: 40px;
  font-size: 130%;
  text-align: center; }

#menu ul li {
  margin-left: 20px; }
  #menu ul li a {
    color: #4a4a4a; }
  #menu ul li ul li {
    display: none;
    position: relative;
    left: -60px;
    background: #e0e0e0;
    font-size: 100%; }

#menu ul li:hover ul {
  padding-top: 15px;
  background: #e0e0e0; }
  #menu ul li:hover ul li {
    display: block;
    color: #4a4a4a; }
    #menu ul li:hover ul li a {
      color: #4a4a4a; }

#menu ul li:hover, #menu ul li ul li:hover {
  color: red; }
  #menu ul li:hover a, #menu ul li ul li:hover a {
    color: red; }

#main, #slider {
  color: #f5f5f5; }
  #main a, #slider a {
    color: #f5f5f5; }

a {
  text-decoration: none; }

#adduser {
  width: 450px;
  margin: 10px auto;
  line-height: 190%; }
  #adduser form {
    margin-top: 30px; }
    #adduser form #submit {
      width: 120px;
      height: 120px;
      margin-top: 70px;
      margin-left: 20px;
      font-size: 180%;
      border-radius: 7px;
      float: right;
      border: 0px; }
      #adduser form #submit:hover {
        color: red; }

.title {
  font-size: 200%;
  margin-top: 20px;
  width: 100%;
  text-align: center; }

#viewuser {
  margin-top: 25px; }
  #viewuser table {
    width: 80%;
    margin: 20px auto; }
  #viewuser tr:hover {
    color: red; }

#login {
  width: 450px;
  text-align: center;
  margin: 60px auto;
  padding: 20px;
  color: #f5f5f5;
  line-height: 80px;
  font-size: 200%;
  background: #4d4d4d;
  border-radius: 5px; }
  #login input {
    font-size: 140%;
    border-radius: 15px;
    border: 0px; }
  #login #submit {
    width: 200px;
    height: 100px;
    margin-bottom: 20px; }
    #login #submit:hover {
      color: red; }

#edit-user, #addcontact, #group_manager {
  width: 350px;
  margin: 30px auto; }
  #edit-user #submit, #addcontact #submit, #group_manager #submit {
    width: 150px;
    height: 70px;
    font-size: 200%;
    margin-top: 10px;
    border-radius: 5px;
    border: 0px; }

#setting {
  width: 60%;
  margin: 10px auto; }
  #setting hr {
    border: 1px solid #BEBEBE; }

.warning {
  color: red; }

#group_view {
  width: 60%;
  margin: 0 auto; }
  #group_view tr:hover {
    color: red; }

#group_manager {
  width: 400px; }
