@CHARSET "UTF-8";
body {
  background: #99cccc;
  margin: 0; }

#body {
  width: 70%;
  height: 500px;
  min-height: 500px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px; }

#title {
  font-size: 300%;
  line-height: 200%;
  float: left;
  position: fixed;
  top: 5%;
  left: 10%;
  color: #4a4a4a; }

#menu, #main, #slider, .box {
  border-radius: 5px;
  background: #4d4d4d; }

#menu {
  width: 73%;
  height: 50px;
  margin-bottom: 15px;
  float: left; }

#main {
  width: 73%;
  height: 650px;
  min-height: 650px;
  float: left;
  margin-bottom: 20px; }

#slider {
  width: 25%;
  height: 715px;
  min-height: 715px;
  float: right; }

#index-title {
  font-size: 330%;
  letter-spacing: 15px;
  text-align: center;
  color: #4a4a4a;
  margin-top: 20px; }

.box {
  width: 290px;
  height: 290px;
  border-radius: 5px;
  float: left;
  margin: 20px;
  text-align: center;
  line-height: 200px;
  font-size: 350%;
  color: #e0e0e0; }
  .box:hover {
    background: #e0e0e0;
    color: #4a4a4a; }

img {
  border: 0px; }

#menu {
  background: #e0e0e0;
  color: #4a4a4a; }

#menu ul {
  list-style: none; }

#menu ul li, #menu ul li ul li {
  float: left;
  width: 120px;
  height: 40px;
  font-size: 140%;
  text-align: center; }

#menu ul li {
  margin-left: 20px; }

#menu ul li ul li {
  display: none;
  position: relative;
  left: -60px;
  background: #e0e0e0;
  font-size: 100%; }

#menu ul li:hover ul li {
  display: block;
  color: #4a4a4a; }

#menu ul li:hover ul {
  padding-top: 15px;
  background: #e0e0e0; }

#menu ul li:hover, #menu ul li ul li:hover {
  color: red; }
